
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0d.woff) format('woff');
  }
  @font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'), url(https://fonts.gstatic.com/s/opensanscondensed/v14/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff1GhDuXMQQ.woff) format('woff');
  }
  
* {
    box-sizing: border-box;
}

#SSG_gallery span.SSG_logo {
    background: url("https://www.flor.cz/img/florcz.png") ;
}

h1, h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 464%;
    font-weight: 300;
    color: #006b80;
    position: relative;
}

strong {
    font-weight: normal;
    background: #cfe8ec;
    color: black;
    font-size: 106%;
    border-radius: 0.3em;
    padding: 0 0.3em;
    text-shadow: 0 0 1px #98d9ff;
}

.secol h1 {    
    line-height: 1.1em;
    font-size: 432%;    
    margin: 0.5em 0;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    color: black;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 100%;    
    background-image: url(https://ssg.flor.cz/img/bg.png);
}

p, li, h1, h2 {
    background: rgba(255, 255, 255, 0.36); 
}

.nobg {
    background: none;
}

h2 {
    font-size: 271%;
    line-height: 1.2em;
    margin-bottom: 0.8em;
    margin-top: 1.6em;    
    border-radius: 0 1em 0 0;
} 

.secol h2 {
    margin-top: 2.8em;
}

pre {
    white-space: pre-wrap;
}

.ficol h2 {    
    border-top: 2px dashed;
    border-top: 9px solid #e8eff1;
    padding-top: 0.3em;
    margin-right: -0.33em;
}

article.ficol {
    overflow: hidden;
}

/**

h2::before {
    font-size: 81%;
    vertical-align: bottom;
    margin-right: 10px;
}


.ficol h2::before {
    content: '»';
}     **/
    
ul {
    padding: 0;
}

a {
    color: #d40025;
    background: white;
}

.column a:hover {
    text-decoration-style: double !important;
}

.seegal {
    display: none;    
}

.icons {
    color: #d40025;
    font-weight: 600;
}

a.showgal span, a.seegal span {
    transform: rotate(22deg);
    display: inline-block;
}

a.showgal {
    cursor:pointer; text-decoration:underline
}

a img {
    border: none;
}

img.imglink {
    width:100%; 
    cursor: pointer; 
    margin: 0.5em 0; 
    padding-bottom: 3px; 
    border-bottom: 3px solid #d40039;
    border-radius: 0.6em;    
}

img#gag {
    filter: invert(1) hue-rotate(126deg) brightness(1.3) contrast(0.7);
}

.limg {
    display: block;
    margin-top: 0.88em;
    max-width: 100%;
    border-radius: 6px
}

em.subheading {
    font-size: 120%;
    position: relative;
    top: -1.5em;
    color:#006b80;
}

code {
    font-family: Consolas, Menlo, "Lucida Console", monospace;
    padding: 1em;    
    background: #f7f7f7;
    display: block;
    font-size: 90%;
    line-height: 1.8em;
    overflow: auto;  
    margin-bottom: 2em;
    margin-top: -0.5em;
    box-shadow: inset 0px 0px 36px #eaeaea;
    border-radius: 0.3em;
}

code span {
    color: #d40025;
    background: rgba(255, 255, 255, 0.9);
    font-weight: bold;
}

.column {
    float: left;
    width: 44%;
    height: 300px;
    padding-left: 13%;
    height: auto;
}

.column .mobileonly {
    display: none;
    opacity: 1;
}

.bigger, .secol p {
    font-size: 111%;
    line-height: 1.7em;
}

p {
    line-height: 1.6em;
    padding-right: 0.3em;
}

ul li {
    line-height: 1.6em;
    position: relative;
    padding: 1.2em;    
    background: #f8f8f8; 
    background: radial-gradient(circle farthest-corner at 27px 33px, rgb(255, 255, 255) 0%, rgb(248, 248, 248) 28px);
    list-style-type: square;    
    margin-bottom: 2em;
    list-style-position: inside;
    list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 24 24'%3E%3Cpath fill='%23ad002e' d='M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z'/%3E%3C/svg%3E");
}

.row:after {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 6em;
}



.topimg {    
    overflow: hidden;
    width: 100%;
    max-width: 788px;
    margin-top:2em;
}

.topimg img {
    width: 100%;
    max-width: 788px;
    margin-top: -1vw;
}


.gallery .topimg {
    margin-top: -1.5em;
    max-width: 646px;
    height: 12vw;
    width: 99%;
    border-radius: 6px;
    opacity: 1;
    margin-bottom: 3%;
    background: #00e5ff;
}

.gallery .topimg a {
    width: 100%;
    float: none;
    display: inline-block;
    max-width: none;
}

.gallery {
    margin-top: 2em;
}

.gallery span {
    display: inline-block; 
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in;
}

.gallery:hover span {
    max-height: 100px;
    transition: all 0.3s ease-in 1.5s;
    padding-bottom: 3em;    
    padding-top: 1.3em;    
}

.gallery span a {
    float: none;    
    background: none;
    display: inline;
    text-decoration: underline;
    margin: 0;    
    } 

.gallery span a::after, .gallery span a::before { 
        content: ''; 
    }

.gallery a {
    display: block;
    float: left;
    width: 31%;
    margin-right: 3%;
    margin-bottom: 3%;
    height: auto;
    max-width: 200px;
    border-radius: 6px;
    background: #00e5ff;
    position: relative;
    overflow: hidden;    
    text-decoration: none;
}

.gallery a.third {
    margin-right: 0;
}

.gallery a img {
    border: none;
    width: 100%;
    height: auto;
    opacity: 0.9;
    border-radius: 6px;
    margin-bottom: -5px;
    filter: saturate(1.2);
}

.gallery a, .gallery a img, .gallery a::before, .gallery a::after, .gallery .topimg  {
    transition: all 0.11s ease-in;
}

.gallery  a:hover, .gallery a:hover img, .gallery a:hover::before, .gallery a:hover:after, .gallery .topimg:hover {
    transition: all 0.22s ease;
}

.gallery > a:hover {
    box-shadow: 3px 6px 13px 1px rgba(0, 49, 49, 0.88);
    transform: skew(-2deg, -2deg) scale(0.965, 0.965);
    background: rgb(70, 70, 70);  
}

.gallery .topimg:hover {
    box-shadow: 3px 5px 13px 1px rgba(0, 49, 49, 0.88);
    transform: skew(-1.6deg, -1deg) scale(0.99, 0.96);
    background: rgb(70, 70, 70); 
}

.gallery .topimg:hover a {
    background: rgb(70, 70, 70); 
}

.gallery a:hover img {
    opacity: 1;
    filter: saturate(1);    
}

.gallery a::before {
    content: '';
    position: absolute;
    transform: translate(-30%,-30%);
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: none;
}

.gallery > a:hover::before  {
    background: linear-gradient(155deg, rgba(191,252,255,0.33) 0%,rgba(212,253,255,0.22) 23%,rgba(216,253,255,0) 36%);    
    transform: translate(-1%,-1%);
}

.gallery .topimg:hover a::before  {
    background: linear-gradient(160deg, rgba(191, 237, 255, 0.33) 0%,rgba(212,253,255,0.23) 18%,rgba(216,253,255,0) 36%);    
    transform: translate(-1%,-1%);
}

.gallery a:hover:after  {
    opacity: 0.9;
}

.gallery a::after {
    content: '»';     
    position: absolute;
    top:-0.1em;
    right: 0.3em;
    color: white;
    transform: rotate(-45deg);
    font-size: 144%;
    font-family: 'Times New Roman', Arial, sans-serif;
    opacity: 0.66;
    text-shadow: 0 0 6px #000000, 0 0 6px #000000, 0 0 9px #000000, 0 0 9px #000000, 0 0 9px #000000, 0 0 13px #000000, 0 0 13px #000000, 0 0 19px #000000, 0 0 19px #000000;
}    

footer {    
    height: 4em;
    background: linear-gradient(90deg, #C2C2C2 0%, #F7F7F7 11%, #E0E0E0 22%, #EDEDED 33%, #FAFAFA 47%, #E6E6E6 58%, #EDEDED 67%, #D9D9D9 79%, #F0F0F0 90%, #C2C2C2 100%);
}


@media screen and (max-width: 1700px) {
    .column {
        width: 46%;
        padding-left: 10%;
    }
}    

@media screen and (max-width: 1450px) {
    .column {
        width: 47%;
        padding-left: 10%;
    }
    h1 {
        font-size: 396%;
    }        
}    


@media screen and (max-width: 1100px) {
    .column {
        width: 48%;
        padding-left: 8%;
    }
    h1 {
        font-size: 345%;
    }         
} 

@media screen and (max-width: 950px) {    

    h1 {
    font-size: 396%;
    }

    ul {
        padding-left: 0;
    }

    ul li:first-letter {
        padding-left: 0.2em;
    }

    .row {
        overflow: hidden;
    }

    .column {
        width: 100%;
        padding-right: 10%;
        padding-left: 15%;
    }

    .ficol h1, .ficol h2 {
        margin-left: -25px;
    }

    .ficol {
        padding-bottom: 2em;
        border-bottom: 30px dashed #cfe8ec;
    }

    .column .mobileonly {
        display: block !important;
        width: 100vw;
        margin: 0;
        margin-left: -20%;
        overflow: hidden;
        margin-bottom: -1.5em;
        color: white;
        text-align: center;
        background-color: #000d0c;
    }
    
    .column .mobileonly span {
        display: block;
        line-height: 2.2em;
        text-decoration: none;
        cursor: pointer;
        color: #9abebf;
        text-shadow: 0 0 16px #178ea7;    
        background-image: url(https://ssg.flor.cz/img/simple-scroll-gallery.jpg);
        background-size: 99.3%; 
        filter: brightness(1.2) saturate(1.8) hue-rotate(-6deg);
    }

    .column .mobileonly span b {
        font-weight: normal;
        transform: scaleX(1.6);
        display: inline-block;
        margin-right: 5px;
        position: relative;
        top: 1px;
    }

    #front-gallery {
        white-space: nowrap;
        width: 100%;
        overflow: auto;
        scrollbar-color: #183d44 #0e0e0e;
        scrollbar-width: thin;
    }

    #front-gallery img {
        width: 111px;
        margin: 2px;
        filter: brightness(1) contrast(0.93) saturate(0.8);
        opacity: 0.88;
        cursor: pointer;
        border-radius: 3px;
    }


    .lighten {
        opacity: 1 !important;
        filter: brightness(1.13) saturate(1.1) contrast(1) !important;
        /* box-shadow: 0px 1px 5px #3f9094; */
    }

    .column .mobileonly img {
        width: 100%;        
        filter: brightness(1.08) saturate(1.6) hue-rotate(-6deg);
    }

    .gallery .topimg {
        height: 30vw;    
    }

    .seegal { 
        display: inline-block;
    }

    code span {
        font-weight: normal;
        color: #c30035;
    }
}

@media screen and (min-width: 550px) and (max-width: 950px) {
    
    #front-gallery::-webkit-scrollbar {
        background: #0e0e0e;
        height: 3px;
    }
    
    #front-gallery::-webkit-scrollbar-thumb {
        background: #222222;
        -webkit-border-radius: 4px;
    }
    
    #front-gallery::-webkit-scrollbar-button {
        width: 22px;
        background: #0e0e0e;        
    }
}  


@media screen and (max-width: 550px) {
    
    #front-gallery img {
        width: 97px;
        margin: 2px;
    }

    .column {
        width: 100%;
        padding-right: 5%;
        padding-left: 11%;
    }    

    .ficol h2 {
        margin-left: -16px;
    }

    .ficol h1 {
        font-size: 321%;
        margin-left: -16px;
        margin-top: 1.3em;
    }

    em.subheading {
        margin-left: -16px;
        display: block;
    }

    code, img.imglink {
        width: 96%;
        font-size: 86%;
    } 

    li img.imglink {
        width: 100%;        
    }

    ul li {
        width: 113%;
        left: -10%;
        padding: 1em 8% 1em 10%;
        background: radial-gradient(circle farthest-corner at 9% 2em, rgb(255, 255, 255) 0%, rgb(248, 248, 248) 28px);        
    }

    code {
        width: 119%;
        left: -13%;
        padding: 1em 6%;
        padding-left: 8%;
        position: relative;
        letter-spacing: -0.05em;
    }

    .column .mobileonly {
        margin-left: -13.1%;
        /* border-bottom: 6px solid  #296779; */
    }

    .secol p {
        font-size: 100%;
    }

    .bigger {
        font-size: 106%;
    }

    .secol .wider {
        width: 108%;
        margin-left: -7%;
    }

    #opening {
        text-align: justify;
        padding-right: 1em;
    }
}


@media screen and (max-width: 440px)  {
    .gallery a::after { 
        font-size: 116%; 
    }      
}

@media screen and (min-width: 666px) {
    p, li {
        text-align: justify;
    }
}

@media (min-width: 1222px) {
    .ficol h1::after {   
        content: '';
        position: absolute;
        width: 1em;
        height: 0.6em;
        right: 0;
        top: -16px;
        border-top: 9px solid #e8eff1;
        border-right: 9px solid #e8eff1;
    }
}

@media (min-height: 888px) {
	h1 {
		margin-top: 1.2em;
	}
}

#bulb {
    position: fixed;
    right: 2vw;
    bottom: 5vh;
    width: 33px;
    height: 40px;  
    background: url('https://ssg.flor.cz/img/bulb-off.png') no-repeat center center;
    background-size: 100%; 
    opacity: 0.4;    
    cursor: pointer;
}

#bulb:hover {
    opacity: 1;
}


/* dark scheme */

    .dark #bulb {
        background: url('https://ssg.flor.cz/img/bulb-on.png') no-repeat center center;
        background-size: 100%; 
        width: 34px;
        height: 42px;
    }

    .dark body {
        color: #dadada;
        background: #30383a;
    }

    .dark ul li {
        background: radial-gradient(circle farthest-corner at 27px 33px, rgb(86, 28, 43) 0%, #2b3031 28px);
    }

    @media screen and (max-width: 550px) {
        .dark ul li {
            background: radial-gradient(circle farthest-corner at 9% 2em, rgb(86, 28, 43) 0%, #2b3031 28px);
        }
    }

    .dark h1, .dark h2 {
        color: #4bcbd8;
    }

    .dark em.subheading {
        color: #93d0d6;
    }   

    .dark .ficol h1::after {
        border-top: 9px solid #212627;
        border-right: 9px solid #212627;
    }

    .dark .ficol h2 {
        border-top: 9px solid #212627;
    }

    .dark a, .dark .icons, .dark strong {
        color: #ff4566;
        background: none;        
        text-shadow: 0 0 11px black;
    }

    .dark p, .dark h1, .dark h2, .dark ul, .dark li {
        background: none;
    }

    .dark strong {    
        color: #6de8f5;
        padding: 0 0.1em;
    }

    .dark code, .dark footer {
        background: #212729;
        box-shadow: inset 0px 0px 36px #252c2d;
        color: #89c5cc;
    }    

    .dark .gallery a {
        background: #000000;        
        max-width: 202px;
        filter: brightness(0.81) contrast(1.03) saturate(0.88);
    }

    .dark .gallery .topimg a {
        max-width: none;
    }

    .dark .gallery .topimg {
        background: #000000;
    }

    .dark .gallery a:hover, .dark .gallery span a { 
        filter: brightness(1) contrast(1) saturate(1);
        background: none;
    } 

    .dark img.invert {
        filter: invert(1) brightness(1.8) contrast(0.8);
    }

    .dark .gallery a img {
        opacity: 1;
    }

    .dark code span {
        color: #ff4566;
        background: none;
        font-weight: normal;
    }

    .dark .secol .topimg.wider {
        filter: contrast(1.23) brightness(0.95);
    }

    .dark .gallery > a:hover, .dark .gallery .topimg:hover {
        box-shadow: 3px 6px 13px 1px black;
    }

    .dark .topimg a {
        background: none;
    }

    @media screen and (max-width: 950px) {
        .dark .ficol {
            padding-bottom: 2em;
            border-bottom: 30px dashed #394244;
        }

        #bulb {            
            right: 0.6vw;
            bottom: 2vh;
            background-size: 81% !important;            
        }

        #bulb:hover {
            opacity: 0.4;
        }
    }
    
    
    @media screen and (min-width: 950px) { 

        html.dark:not(.ssg-active) {
            scrollbar-color: #125266 #252929;
        }
        
        html.dark:not(.ssg-active) {
            scrollbar-base-color: #226677;
            scrollbar-track-color: #252929;
        }
        
        html.dark:not(.ssg-active) ::-webkit-scrollbar {
            background: #252929 ;
        }
        
        html.dark:not(.ssg-active) ::-webkit-scrollbar-thumb {
            background: #226677 ;
        }
        
        html.dark:not(.ssg-active) ::-webkit-scrollbar-button {
            background: #3f4b4b;
        }
    }
