* {
    box-sizing: border-box;
}

h1, h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 464%;
    font-weight: 300;
    color: #076a7d;
}

strong {
    font-weight: normal;
    background: #daf6ff;
    color: black;
    font-size: 106%;
}

.secol h1 {    
    line-height: 1.1em;
    font-size: 432%;    
    margin: 0.5em 0;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    color: #202020;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

h2 {
    font-size: 252%;    
    line-height: 1em;
    margin-bottom: 0.6em;
    margin-top: 1.2em;
}        

h2::before {
    font-size: 81%;
    vertical-align: bottom;
    margin-right: 10px;
}


.ficol h2::before {
    content: '#';
}    
    
ul {
    padding: 0 1em 0 1em;
}

a {
    color: #d40039;
}

.seegal { 
    display: none;    
}

.icons {
    color: #d40039;
    font-weight: 600;
}

a img {
    border: none;
}

em {
    font-size: 120%;
    position: relative;
    top: -1.5em;
}

code {
    font-family: Consolas, Menlo, "Lucida Console", monospace;
    padding: 1em;    
    background: #efefef;
    display: block;
    font-size: 90%;
    line-height: 1.8em;
    overflow: auto;    
}

.column {
    float: left;
    width: 44%;
    height: 300px;
    padding-left: 13%;
    height: auto;
    border-top:  21px solid #efefef;    
    margin-top: 0.6em;
}

.column .first {
    display: none;
    opacity: 1;
}

.bigger, .secol p {
    font-size: 111%;
    line-height: 1.7em;
}

p {
    line-height: 1.6em;
}

ul li {
    line-height: 1.6em;
    list-style-type: square;
    padding-bottom: 0.8em;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 6em;
}

.gallery img {
    float: left;
    width: 30%;
    margin-right: 3%;
    margin-bottom: 3%;
    height: auto;
    max-width: 200px;
    border-radius: 6px;
    opacity: 0.90;
}

.gallery img:hover {
    opacity: 1;
}

.gallery {
    margin-top: 2em;
}


#SSG_gallery span.SSG_logo {
   background: url("https://www.flor.cz/img/florcz.png") ;
}

.topimg {    
    overflow: hidden;
    width: 100%;
    max-width: 788px;
    margin-top:2em;
}

.topimg img {
    width: 100%;
    max-width: 788px;
    margin-top: -1vw;
}


.gallery .topimg {
    max-width: 646px;
    height: 12vw;
    width: 96%;
    border-radius: 6px;
    opacity: 1;
    margin-bottom: 3%;
    background: #00e5ff;
}


footer {    
    height: 3em;
    background: linear-gradient(90deg, #C2C2C2 0%, #F7F7F7 11%, #E0E0E0 22%, #EDEDED 33%, #FAFAFA 47%, #E6E6E6 58%, #EDEDED 67%, #D9D9D9 79%, #F0F0F0 90%, #C2C2C2 100%); /* w3c */
}


@media screen and (max-width: 1380px) {
    .column {
        width: 47%;
        padding-left: 10%;
    }

    h1 {
        font-size: 396% !important;
    }    
}    

@media screen and (max-width: 1100px) {
    .column {
        width: 48%;
        padding-left: 8%;
    }
}    

@media screen and (max-width: 950px) {    
    * {
        font-size: 99%;
    }

    .row {
        overflow: hidden;
    }

    .column {
        width: 100%;
        padding-right: 10%;
        padding-left: 15%;
    }

    .secol {
        padding-right: 6%;
        padding-left: 10%;
    }

    .ficol h1, .ficol h2 {
        margin-left: -25px;
    }

    .column .first {
        display: block !important;
        width: 100vw;
        margin: 0;
        margin-left: -20%;
        overflow: hidden;
        margin-bottom: -1.5em;
        background: #09697d;
    }
    .column .first img {
        width: 100%;
        margin-top: -3vw;
        filter: brightness(1.1) saturate(1.6);
        opacity: 0.9;
    }

    .gallery .topimg {
        height: 30vw;    
    }

    .seegal { 
        display: block;    
    }
}