@charset "utf-8";
/* CSS Document */

	    ::-webkit-scrollbar {
            background: #191919;
            width:14px;
        }

        ::-webkit-scrollbar-thumb {
            -webkit-border-radius: 3px;
            -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.75);    
            background: #505050;
            background-size: 100%; 
            margin-top: 6px;
            min-height: 81px;
        }

        ::-webkit-scrollbar-button {
            height: 20px;
            background: black;
			height: 2px;
        }

        body {
            cursor: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMiIgYmFzZVByb2ZpbGU9InRpbnkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMTlweCIgaGVpZ2h0PSIxOXB4IiB2aWV3Qm94PSIwIDAgMTkgMTkiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxnIGlkPSJMYXllcl8yX2NvcHkiPjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIGZpbGwtb3BhY2l0eT0iMC4zIiBwb2ludHM9IjkuOTc0LDE5LjAwNiA4Ljk5LDE5LjAwNiA3Ljk5LDE4LjAwNiA3Ljk5LDEwLjk5NSAxLDEwLjk5NSAwLDkuOTk1IDAsOS4wMTEgMSw4LjAxMSA3Ljk5LDguMDExIDcuOTksMSA4Ljk5LDAgOS45NzQsMCAxMC45NzUsMSAxMC45NzUsOC4wMTEgMTguMDA1LDguMDExIDE5LjAwNiw5LjAxMSAxOS4wMDYsOS45OTUgMTguMDA1LDEwLjk5NSAxMC45NzUsMTAuOTk1IDEwLjk3NSwxOC4wMDYgOS45NzQsMTkuMDA2ICIvPjwvZz48ZyBpZD0iTGF5ZXJfMiI+PHBvbHlnb24gZmlsbD0iIzU2NTY1NiIgcG9pbnRzPSIxOC4wMDUsOS4wMTEgOS45NzQsOS4wMTEgOS45NzQsMSA4Ljk5LDEgOC45OSw5LjAxMSAxLDkuMDExIDEsOS45OTUgOC45OSw5Ljk5NSA4Ljk5LDE4LjAwNSA5Ljk3NCwxOC4wMDUgOS45NzQsOS45OTUgMTguMDA1LDkuOTk1ICIvPjwvZz48L3N2Zz4=), auto;
          }

