@charset "utf-8";
/* CSS Document */

	    ::-webkit-scrollbar {
            background: #191919;
            width:14px;
        }

        ::-webkit-scrollbar-thumb {
            -webkit-border-radius: 3px;
            -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.75);    
            background: #505050;
            background-size: 100%; 
            margin-top: 6px;
            min-height: 81px;
        }

        ::-webkit-scrollbar-button {
            height: 20px;
            background: black;
			height: 2px;
        }        

        body {
            cursor: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMiIgYmFzZVByb2ZpbGU9InRpbnkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMTlweCIgaGVpZ2h0PSIxOXB4IiB2aWV3Qm94PSIwIDAgMTkgMTkiPjxnIGlkPSJMYXllcl8yX2NvcHkiPjxwb2x5Z29uIGZpbGw9IiMwMDAwMDAiIHBvaW50cz0iMTAsMTkgOSwxOSA4LDE4IDgsMTEgMSwxMSAwLDEwIDAsOSAxLDggOCw4IDgsMSA5LDAgMTAsMCAxMSwxIDExLDggMTgsOCAxOSw5IDE5LDEwIDE4LDExIDExLDExIDExLDE4IDEwLDE5ICIvPjwvZz48ZyBpZD0iTGF5ZXJfMiI+PHBvbHlnb24gZmlsbD0iIzU2NTY1NiIgcG9pbnRzPSIxOCw5IDEwLDkgMTAsMSA5LDEgOSw5IDEsOSAxLDEwIDksMTAgOSwxOCAxMCwxOCAxMCwxMCAxOCwxMCAiLz48L2c+PC9zdmc+),text;
        }

        .wait {cursor: wait !important;}
