
#SSG_galBg {
    background: #0e0e0e;
    background-image:url(https://www.flor.cz/img/ssg-bg.png);
    width: 100%;
    position: fixed;
    height: 200%;
    z-index: 99990;
    top: -50%;
    left: 0px;
}

#SSG_gallery {
    position: absolute;
    top: 0px;
    z-index: 99991;
    width: 100%;
    text-align: center;
    left: 0px;
}


#SSG_gallery img {
    max-width: 96%;
    max-height: 90vh;
    display: inline;
    margin:2em 0 0.5em 0; 
    border: 1px solid black;    
}

#SSG_gallery span.wrap {
    position: relative;
}

#SSG_gallery span.logo {
    /** background: url("https://add your logo and © over images") ;  **/
    display: inline-block;
    width: 147px;
    height: 47px;
    position: absolute;
    bottom: 4px;
    left: 0px;
}

#SSG_gallery p { 
    display:block; 
    margin: auto; 
    color:#FFFFFF; 
    font-family:"open sans", Helvetica, sans-serif; 
    text-align:center; 
    background: #222222; 
    padding: 0.5em;
    margin-bottom: 6em;
}

#SSG_exit {
    position: fixed;
    top: -13px;
    right: -13px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.5);    
    cursor: pointer;
    z-index: 99993;
}

#SSG_exit span {
    color: rgb(161, 161, 161);    
    font-size: 25px;
    font-weight: lighter;    
    position: absolute;
    bottom: 5px;
    left: 12px;
    font-family: Calibri, 'Times New Roman', 'Courier New', sans-serif;
}

#SSG_gallery #help {
    position: absolute;
    top: -30px;
    left: -30px;
    width: 110px;
    height: 140px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.5);
    cursor: help;
    z-index: 3;
}

#SSG_gallery a.link {
	cursor:pointer;
	}

#SSG_gallery #mouse {
    height: 70px;
    width: 40px;
    position: absolute;
    right:20px;
    bottom:16px;
    border-radius: 20px;
    border: 3px solid #696969;
}

#SSG_gallery #scroll {
    height: 16px;
    width: 8px;
    position: absolute;
    left:13px;
    top:8px;
    border-radius: 4px;
    background: white;
}

@keyframes move {
    from {top: 23px;}
    to { top: 33px;}
}

#SSG_gallery #down {
     position: absolute;
     left:12px;
     top:30px;
     font-size: 25px;
     transform: rotate(90.0deg);
     color: white;
     animation-name: move;
     animation-duration: 0.7s;     
     animation-iteration-count: infinite;
}


@media (max-width: 777px) {
#SSG_gallery img {
    max-width: 100%;
    max-height: 90vh;

}

#SSG_gallery #help {
	display:none;
}

#SSG_gallery span.logo {    
	background-size: 100%;
    width: 100px;
    height: 33px;
    bottom: 0px;
    left: 0px;
}

#SSG_gallery p { 
    margin-bottom: 3em;
}	
}

@media (orientation: portrait) {
#SSG_gallery #help {
	display:none;
}

#SSG_gallery img {
    max-width: 100%;
}
}